
# BEGIN ShortPixelWebp
# التعليمات (الأسطر) بين "BEGIN ShortPixelWebp" و "END ShortPixelWebp"
# تم إنشاؤها ديناميكيًا، ويجب تعديلها فقط من خلال مرشحات ووردبريس (WordPress Filters).
# أي تغييرات على التعليمات بين هذه العلامات سيتم الكتابة فوقها.

# END ShortPixelWebp